<html>
<head>
<link rel="stylesheet" type="text/css" href="default.css" />
</head>
<body>

<div id="login" name="login" style="float: right">
<form target="/Login">
UserID: <input type="text" id="login_user" name="login_user" /><br />
Password: <input type="password" id="login_password" name="login_password" />
<input type="submit" value="Login" /><br /><br />
<a href="/registration/user/new">signup</a> / <a href="/register/user/recovery">forgot password?</a>
</form>
</div>

<h1>Projects</h1>

<div id="notification" name="notification">
<!-- notification area -->
</div>

<div id="projects" name="projects">

<h2>Projects - @(DroshWebContext.SearchKeyword)</h2>

<table>
@foreach (var project in projects) {
  <tr>
    <td><a href="/project/@(project.Name)">@(project.Name)</a></td>
    <td>(owner: @(project.Owner))</a></td>
  </tr>
}
</table>

<!-- TODO: page controller links -->

</div>


</body>
</html>

