<html>
<head>
<link rel="stylesheet" type="text/css" href="default.css" />
</head>
<body>

<h1>Password recovery</h1>

<p>By clicking the "Send" button, you will receive a password reminder email.</p>

<div id="recovery" name="recovery" float="recovery">
<form target="/registration/user/recovery">
Account ID<input type="text" id="login_user" name="login_user" />
<input type="submit" value="Send" />
</form>
</div>

</body>
</html>
